{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}

<div class="d-flex justify-content-center mt-1">
    <h1>CREATE TASK</h1>
</div>

<div style="height: 100%;" class="d-flex justify-content-center align-items-center">
    <form method="POST" action="" style="width: 100vh;">
        {% csrf_token %}
        <div>
            <p>Date: </p>
            <input type="date" name="date" placeholder="DATE" class="form-control">
    
            <p>Title: </p>
            <input type="text" name="title" placeholder="TITTLE" class="form-control">
    
            <p>Description: </p>
            <input type="text" name="description" placeholder="DESCRIPTION" class="form-control">
        </div>

        <div class="d-flex justify-content-center mt-2 pt-4 gap-3">
            <a class="btn btn-primary btn-lg" href="{% url 'todolist:show_todolist' %}" 
            style="padding-left: 2.5rem; padding-right: 2.5rem;">Back </a>

            <button <a class="btn btn-primary btn-lg" href="{% url 'todolist:create_task' %}" type="submit" value="submit"
            style="padding-left: 2.5rem; padding-right: 2.5rem;"> </a>Submit</button>
        </div>
    </form>
</div>
{% endblock content %}