{% extends 'base.html' %}

{% block content %}
{% load static %}
<title>To Do List</title>

<nav class="navbar navbar-expand-lg bg-info navbar-light responsive-navbar">
  <div class="container-fluid">
    <a class="navbar-brand">Username: {{username}}</a>
      <ul class="navbar-nav d-flex flex-row me-1">
        <li class="nav-item me-3 me-lg-0">
            <a class="nav-link text-white" href="{% url 'todolist:logout' %}"><i class="fas fa-cog mx-1"></i> Log out</a>
        </li>
    </ul>
  </div>
</nav>

<div class="d-flex justify-content-center m-auto">
  <h5>Sesi terakhir login: {{ last_login }}</h5>
</div>

<div class="d-flex justify-content-center align-items-center mt-4">
  <a href="{% url 'todolist:create_task' %}" class="btn btn-primary">Create task</a>
</div>

<div class="d-flex flex-wrap justify-content-center align-items-center gap-3 responsive-container mt-4">
  {% for data in list_todo %}
  <div class="card text-center zoom">
    <div class="card-header card-bg-rv">Date: {{data.date}}</div>
    <div class="image-box card-bg-rv">
      <img src="{% static "media/a3.png" %}" height="200"">
      <div class="card responsive-card">
        <div class="card-body card-bg-rv">
          <h5 class="card-title">{{data.title}}</h5>
          <p class="card-text"> {{data.description}} </p>
          <a href="{% url 'todolist:delete-task' data.id %}" class="btn btn-primary">Delete task</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}